<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="cordova-plugin-battery-notification"
      version="1.0.0">
    <name>BatteryNotification</name>
    <description>Cordova Battery Notification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,battery</keywords>
    <repo>https://github.com/Sistel/cordova-plugin-battery-notification</repo>
    <issue>https://github.com/Sistel/cordova-plugin-battery-notification/issues</issue>

    <js-module src="www/batterynotification.js" name="batterynotification">
        <clobbers target="navigator.batterynotification" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BatteryNotification" >
                <param name="android-package" value="org.apache.cordova.batterynotification.BatteryNotification"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="org.apache.cordova.batterynotification.BatteryNotificationService" />
            <receiver
                android:name="org.apache.cordova.batterynotification.BatteryNotifRestarterBroadcastReceiver"
                android:enabled="true"
                android:exported="true"
                android:label="RestartServiceWhenStopped">
            </receiver>
        </config-file>

        <source-file src="src/android/BatteryNotification.java" target-dir="src/org/apache/cordova/batterynotification" />
        <source-file src="src/android/BatteryNotificationService.java" target-dir="src/org/apache/cordova/batterynotification" />
        <source-file src="src/android/NotificationWorker.java" target-dir="src/org/apache/cordova/batterynotification" />
        <source-file src="src/android/NotificationService.java" target-dir="src/org/apache/cordova/batterynotification" />
        <source-file src="src/android/BatteryNotifRestarterBroadcastReceiver.java" target-dir="src/org/apache/cordova/batterynotification" />

        <!-- <framework src="src/android/workmanager.gradle" custom="true" type="gradleReference"/> -->
        <framework src="androidx.work:work-runtime:2.4.0" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BatteryNotification">
                <param name="ios-package" value="CDVBatteryNotification" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVBatteryNotification.h" />
	    <source-file src="src/ios/CDVBatteryNotification.m" />
    </platform>
    
</plugin>
